@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #007f91;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #77bcc4;
  transition: .5s;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.section-title{
    font-size: 1.rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.8rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.product-box{
    position: relative;
    background-color: #f3e1e1;
    padding: 10px;
    border-radius: 5px;
     transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.product-box:hover{
    background: #77bcc4;
    color: white;
    border: 1px solid #f0f0f0;
    
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}




/* Modális ablak stílusai */
body.modal-open {
  overflow: hidden; /* Tiltja a görgetést */
  pointer-events: none; /* Tiltja az egér eseményeket */
}

body.modal-open .modal {
  pointer-events: auto; /* A modális ablakban engedélyezi az egér eseményeket */
}

/* Modal stílusok */
.modal {
  display: none; /* Kezdetben elrejtve */
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.8); /* Átlátszó háttér */
}

.modal-content {
  position: absolute; /* Fontos! */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Középre igazítás */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  height: 70%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.modal img {
  width: 600px;
  height: 600px;
  border-radius: 10px; /* Lekerekített sarkak */
}

.modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  color: #333;
}

/* Nyilak stílusai */
.modal .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #333;
  cursor: pointer;
  user-select: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .arrow.left {
  left: 10px;
}

.modal .arrow.right {
  right: 10px;
}

.arrow:hover{
  color: black;
  font-size: 66px;
}

.close-button:hover{
  color: black;
}



/* Responsive */
@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
    
  section{
    padding: 3rem 0 2rem;
  }
    
  .container{   
    margin: 0 auto;       
    width: 90%;  
  }
  
}

@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #77bcc4;
  }

  #check:checked~ul {
    left: 0;
  }

  .shop-content {
    position: relative;
    z-index: 1; /* A tartalom a menü alatt marad */
  }
}

